langsmith==0.3.45
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.74
langchain-fireworks==0.3.0
langchain-google-genai==2.1.9
langchain-ollama==0.3.6
langchain-text-splitters==0.3.8
langgraph==0.4.3
langgraph-checkpoint==2.0.25
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.69
langsmith==0.3.45
pandas==2.2.2
sentence-transformers==3.3.1